*
{
    padding: 0;
    margin:0;
}
.left-bar
{
    display: flex;
   flex-direction: column;
     height: 710px;
     width: 8%;
     margin-left: -1%;
     background-color: #19a8d093;
     margin-top: 66px;
}
.left-bar-container
{
    height: 739px;
    background-color: #189cc193;
    
}
.left-bar-btn
{
   height: 100px;
   background-color: #19a8d093;
}
.profile
{
    font-size: 20px;
    justify-content: center;
    color: #03103d;
    margin-block: -10px;
}
.food
{
    font-size: 20px;
    justify-content: center;
    color: #03103d;
    margin-block: -10px;

}
.travel
{
    font-size: 20px;
    justify-content: center;
    color: #03103d;
    margin-block: -10px;
}
.contact
{
    font-size: 20px;
    justify-content: center;
    color: #03103d;
    margin-block: -10px;
}